* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --cinza-escuro: #2e4347;
    --white-color: #f5f5f5;
    --text-color: #333333;
    --table-background-color: #cccccc;
    --border-input-color: #dddddd;
}

body {
    background-color: var(--cinza-escuro);
    color: var(--text-color);
}

.container {
    height: 100%;
    margin: 0 auto;
    width: 98%;
    max-width: 900px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container .header-container {
    margin: 2rem 0;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    padding: 2.5rem;
}

.container .list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white-color);
    border-radius: 0.5rem;
    height: 100%;
    min-height: 70vh;
    padding: 2.5rem;
    margin-bottom: 2rem;
}

.header-container h1 {
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
    text-align: center;
}

.header-container form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

form .form-row {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    flex: 1 0;
}

.form-row label {
    font-size: 1.25rem;
    font-weight: 500;
}

.form-row input {
    height: 35px;
    width: 100%;
    border-radius: 0.25rem;
    outline: none;
    border: 1px solid var(--border-input-color);
    padding: 0.5rem;
    text-align: end;
    font-size: 1.15rem;
}

form input[type=text]:focus {
    border: 1px solid var(--cinza-escuro);
}

form #btnAdicionar {
    align-self: end;
    height: 35px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: var(--cinza-escuro);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    flex: 1;
}

form #btnAdicionar:hover,
.form-edit button:hover {
    background-color: transparent;
    color: var(--cinza-escuro);
    border: 1px solid var(--cinza-escuro);
    transition: all 0.4s;
}

form #btnAdicionar:active,
form #btnAdicionar:focus,
.form-edit button:active,
.form-edit button:focus {
    transform: scale(1.025);
}

table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;
}

thead {
    font-size: 1.2rem;
}

input[name="checkProduto"] {
    cursor: pointer;
}

th, td {
    padding: 0.5rem;
    border-bottom: 1px solid var(--table-background-color);
}

table tbody tr:nth-child(odd) {
    background-color: var(--border-input-color);
}

thead tr th:nth-child(1) {
    width: 10%;
}

thead tr th:nth-child(2),
tbody tr td:nth-child(2) {
    width: 35%;
    text-align: left;
}

thead tr th:nth-child(3),
tbody tr td:nth-child(3) {
    width: 25%;
    text-align: left;
}

thead tr th:nth-child(4),
tbody tr td:nth-child(4) {
    width: 15%;
    text-align: end;
}

thead tr th:nth-child(5),
tbody tr td:nth-child(5) {
    width: 15%;
    text-align: end;
}

tbody tr td {
    text-align: center;
    font-size: 1.15rem;
}

a {
    text-decoration: none;
}

.btn-action {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    margin: 0 0.25rem;
    cursor: pointer;
}

.btn-action > img {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}