
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-bottom: 4px solid $orange-color;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.logo_container {
    width: 70px;
}

.logo_container > img {
    width: 100%;
}

nav {
    width: 60%;
    max-width: 300px;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > ul > li {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.75rem;
    text-decoration: none;
    color: $blue-color;
}

nav > ul > li:hover {
    transition: 0.4s;
    color: $orange-color;
}